<footer>
  L4wl3sS - {{ getThisYear }}
</footer>

<!-- scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

</body>
</html>