{{> head }}  
{{> navbar }}

<div class="row">
  <div class="col-4">
    <h4>Lorem ipsum dolor sit amet.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero veritatis dicta voluptate rerum quod ad deserunt magnam aliquam beatae, sequi sint in voluptatibus et voluptatem odit ipsum. Quisquam enim voluptas, cupiditate placeat maxime iste odio sunt laudantium harum praesentium beatae doloribus minus iusto minima, pariatur porro nulla blanditiis. Praesentium dolores vitae ullam, dicta voluptas, architecto nemo aperiam. Est necessitatibus doloremque ipsum voluptatum, nemo aliquam aut repudiandae recusandae quasi modi, dolorem expedita ipsa delectus minus maxime esse nulla quos soluta eaque vitae officia suscipit at rerum, amet magnam. Incidunt laudantium ullam tempora sit voluptatibus nisi necessitatibus nemo vitae, perferendis repudiandae non, est fugit. Quia reprehenderit delectus, numquam tempora necessitatibus in. Corporis facilis aut voluptates minus impedit, nostrum iusto perferendis nemo fuga quam vel molestias nesciunt neque praesentium, cum qui quia molestiae tenetur adipisci aliquam provident blanditiis, autem, quis facere officiis. Minima voluptatum a cum consectetur dicta. Reprehenderit dignissimos veritatis voluptates soluta.</p>
  </div>
  <div class="col-8">
    <img src="assets/img/profile_city.jpg" class="img-thumbnail" alt="city">
  </div>  
</div>

{{> footer }}